* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 199, 180);
    font-family: 'Poppins', sans-serif;    
}

main {
    margin: 1.5rem auto;
    width: 850px;
    text-align: center;
    background-color: rgb(244, 244, 217);
    border-radius: 20px;
}

/* header Section */

header {
    display: flex;
    text-align: left;
    align-items: center;
    border-top-left-radius: 185px;
    border-top-right-radius: 20px;
}

.profile {
    margin: 5px 0 5px 0;
    text-align: center;
    z-index: 999;
}

.profile img{
    border-radius: 50%;
    border: 2px solid #9b541eb2;

}

.about_me {
    background-color: #9b541eb2;
    width: 100%;
    margin-left: -30px;
    font-family: 'Montserrat', sans-serif;
}

.profile img {
    width: 200px;
}

.about_me {
    padding: 35px 50PX 10PX 50px;
    color: white;
}

.about_me h1 {
    font-weight: 800;
    letter-spacing: 5px;
}

.about_me h4 {
    text-decoration: underline;
    padding-bottom: 10px;
}

/* container section */

.container {
    display: flex;
    text-align: left;
    padding: 25px 0 20px 0;
    list-style: none;
    margin-top: -74px;

}

/* left side of contents */

.left_content h3 {
    color: #fff;
}

.left_content {
    margin-right: 2rem;
    margin-bottom: -20px;
    padding: 60px 25px 25px 20px;
    width: 65%;
    background-color: rgb(9, 1, 1);
}

.myself_responsive {
    display: none;
}

.info {
    margin-bottom: 10px;
}

.info li a {
    list-style: none;
    padding-bottom: 15px;
    line-height: 2.5rem;
    color: #d7d5d5;
    text-decoration: none;
    font-size: 14px;
}

.info li i {
    color: rgb(197, 118, 40);
    padding-right: 5px ;
}

.info li a:hover {
    color: rgb(197, 118, 40);
}

.skills {
    line-height: 30px;
    margin-bottom: 20px;
}

.skills p {
    text-decoration: underline;
    /* color: #d7d5d5; */
    font-size: 14px;
    font-weight: 500;
    color: rgb(235, 236, 236);
}

.skills li {
    font-weight: 500;
    color: #cbc9c9;
}

.skills li i{
    padding-right: 5px;
}

.skills li:hover {
    color: rgb(218, 121, 43);
}

.fa-html5 {
    color: rgb(255, 2, 2);
}

.fa-css3 {
    color: rgb(57, 120, 223);
}

.fa-js {
    color: rgb(200, 205, 65);
}

.tool> :nth-child(2)>i {
    color: rgb(39, 110, 223);
}

.msoffice> :nth-child(2)>i {
    color: rgb(12, 99, 181);
}

.msoffice> :nth-child(2)>.fa-file-powerpoint {
    color: rgb(194, 76, 55);
}

.design{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(254, 148, 42, 0.35);
}

.design:hover{
    scale: 1.05;
    transition: 0.5s;
}

.deploy{
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(254, 148, 42, 0.35);
}

.deploy:hover{
    scale: 1.05;
    transition: 0.5s;
}

.tool{
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(254, 148, 42, 0.35);
}

.tool:hover{
    scale: 1.05;
    transition: 0.5s;
}
.msoffice{
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(254, 148, 42, 0.35);
}

.msoffice:hover{
    scale: 1.05;
    transition: 0.5s;
}

.projects {
    line-height: 30px;
    padding-bottom: 20px;
    color: #d7d5d5;
}

.projects ul {
    list-style: none;
}

/* right side of contents */

.right_content {
    padding-top: 5px;
    padding-left: 10px;
    padding: 10px;
    width: 100%;
    margin-right: 10px;
}

.right_content h3 {
    margin-bottom: 10px;
}

.myself {
    margin: 15px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(169, 100, 31, 0.35);
}

.myself h3 {
    margin-bottom: 10px;
}

.course {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(169, 100, 31, 0.35);
}

.course h4 {
    margin-bottom: 10px;
}

.course a{
    text-decoration: none;
}
.course a:hover{
    color: rgb(197, 118, 40);
}

.course>:nth-child(2) {

    font-weight: 600;
    line-height: 20px;
}

.course>:nth-child(3) {
    color: gray;
}

.experiences,
.education {
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(169, 100, 31, 0.35);
}

.experiences h4,
.education h4 {
    margin-bottom: 10px;
}

.maxson,
.tafe {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;

}

.work>:nth-child(1) {
    font-weight: 600;
}

.work>:nth-child(2),
.year {
    color: gray;
    font-size: 14px;
}

.education {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
}

.degree{
    width: 80%;
}

.year,
.passedout {
    text-align: right;
    font-size: 12px;
}

.passedout>p {
    font-size: 12px;    
}

.passedout {
    margin-bottom: 20px;
}

.ug,
.diploma,
.sslc {
    display: flex;
    justify-content: space-between;
}

.diploma{
    margin-top: 5px;
}

.degree>:nth-child(2),
.passedout {
    font-size: 14px;
    color: gray;
}

.interest {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(169, 100, 31, 0.35);
}

.hobby {
    display: flex;
    gap: 20%;
    line-height: 25px;
}

.book :nth-child(1) i {
    color: rgb(34, 156, 167);
}

.book :nth-child(2) i {
    color: rgb(63, 34, 248);
}

.music :nth-child(1) i {
    color: #f56fd8;
}

.music :nth-child(2) i {
    color: rgb(106, 196, 235);
}

.book li i{
    padding-right:5px ;
}
.music li i{
    padding-right:5px ;
}

.tamil {
    display: flex;
    gap: 20%;
    list-style: inside;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.percent {
    width: 100%;
    height: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 35%;
    padding: 0;
    margin: 0;
}

.data .percent div {
    position: relative;
    width: 100%;
    height: 10px;
    background: #eb672ac8;
    border-radius: 5px;
}

.language-left{
    display: none;
}

/* Footer section */

footer {
    margin-top: 1px;
    background-color: #9b541eb2;
    padding: 8px 0;
    color: #d7d5d5;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 12px;
}



/* Responsive Design */

@media only screen and (max-width: 770px) {

    main {
        padding: 10px 20px;
        width: 100%;
        margin: 10px;
    }

    .info{
        width: 100%;
        padding-right: 0;
    }

    .left_content{
        /* padding-right: 0; */
        padding-right: 10px;
        
    }

    .language-left {
        display: block;
        color: #d7d5d5;
    }

    .tamil{
        display: flex;
        flex-direction: column;
    }

    .language{
        display: none;
    }

    .hobby {
        display: flex;
        gap: 10%;
        line-height: 25px;
    }

    .maxson,
    .tafe {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: flex-start;

    }

    .ug,
    .sslc,
    .diploma {
        flex-direction: column;
        align-items: flex-start;
    }

    .passedout {
        text-align: left;
    }
}

@media only screen and (max-width: 450px) {

    main {
        width: auto;
        margin: auto;
        padding: 5px;
        border-radius: 0;
    }

    .container {
        display: flex;
        flex-direction: column;

    }

    .profile img {
        width: 125px;
    }

    .about_me {
        width: 100%;
        padding-top: 15px;
        padding-left: 40px;
        padding-bottom: 5px;
        border-top-right-radius: 30px;
    }

    .about_me h1 {
        font-size: 22px;
        font-weight: 700;
    }

    .about_me h4 {
        font-weight: 200;
        font-size: small;
    }

    .left_content {
        width: 100%;
        margin-top: 0.5rem;
        margin-right: 5px;
        padding: 11% 7% 0 7%;

    }

    .right_content {
        /* font-size: 12px; */
        margin-top: 10px;
        padding-right: 1px;
        padding-left: 5px;
        padding: 5% 7% 0 7%;
    }

    .myself_responsive {
        display: block;
        color: #D7D5D5;
        margin-bottom: 20px;
    }

    .myself_responsive p {

        font-size: 14px;
        padding: 5px 0;
    }

    .myself {
        display: none;
    }


    .info li {
        display: flex;
        gap: 5%;
        font-size: 14px;
        padding: 5px 0;

    }

    .info li>i {
        padding-top: 2px;
    }

    .info li a {
        line-height: 1rem;
        padding-top: 0;
    }

    .info>.contact {
        margin-bottom: 5px;
    }

    .course {
        margin-top: 10px;
    }

    .maxson,
    .tafe {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: flex-start;

    }

    .ug,
    .sslc,
    .diploma {
        flex-direction: column;
        align-items: flex-start;
    }

    .passedout {
        text-align: left;
    }

    .language {
        display: none;
    }

    .languageleft {
        color: #fff;
        line-height: 30px;
    }

    .tamilleft {
        display: flex;
        flex-direction: column;
        list-style: inside;
    }

    .hobby {
        display: flex;
        flex-direction: column;
        line-height: 25px;
    }

}